:root {
  --shadow-color: 200deg 34% 56%;
  --shadow-elevation-medium: 0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.36),
    1.5px 1.6px 2.5px -0.8px hsl(var(--shadow-color) / 0.36),
    3.8px 3.9px 6.1px -1.7px hsl(var(--shadow-color) / 0.36),
    9.3px 9.6px 15px -2.5px hsl(var(--shadow-color) / 0.36);
}

body {
  margin: 0;
}

main {
  background-color: #cbebfb;
}

.book-display {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

.book-list {
  align-content: center;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0;
  padding: 0;
}

.book-card {
  box-shadow: var(--shadow-elevation-medium);
  align-content: center;
  background-color: white;
  border-radius: 10px;
  list-style: none;
  text-align: center;
}

.book-card button {
  width: 80%;
  border-radius: 7px;
}

button.not-read {
  background-color: #ff9c9c;
}

button.read {
  background-color: #9FFF9C;
}
